html {
	background: url(../images/background1.png), #b9936c;
	background-size: 20%;
	height: 100%;
}

body {
	background: #b9936c;
  min-width: 500px;
	max-width: 960px;
	width: 60%;
  margin: auto;
	height: 100%;
	font-family: 'helvetica';
	
}

header {
	border-bottom:  #dac292 1px dashed;
	overflow: auto;
}

h1 {
	color: whitesmoke;
	font-family: 'Indie Flower', arial;
	font-size: 3em;
	text-align: center;
	margin: 15px 0;
}

.searchbar {
  display: inline-block;
	float: right;
	
}

.searchbar button {
	font-family: arial;
  color: #b9936c;
	background-color: #dac292;
	border-radius: 50%;
	width: 22px;
	border: none;
}

.searchbar button:active{
	background-color:  #e6e2d3;
}

.searchbar input {
  background: inherit;
	border: #dac292 1px dashed;
	border-bottom: none;
	color: #e6e2d3;
}

.log {
	border-bottom:  #dac292 1px dashed;
}

.log p, li {
	text-align: center;
	margin: 20px;
	border-radius: 5px;
	color: seashell;
	background-color: #dac292;
	min-height: 34px;
	font-family: 'Roboto Mono', monospace;
	font-size: .85em;
	
}

.log p{
	font-style: italic;
	display: block;
	padding-top: 17px;
}
.log li:nth-child(odd){
	background-color: #d1b37b;
}

.log li {
	text-align: left;
	border: 1px solid slategrey;
}

.log li img, .albumInfo{
  display: inline;
	vertical-align: middle;
}

.log li img {
	height: 34px;
  margin-left: 5%;
}

.log li .albumInfo {
	overflow: hidden;
  margin-left: 10px;
	max-width: 300px;

}





