html {
	background: #b9936c;
	height: 100%;
}

body {
  min-width: 400px;
	max-width: 960px;
	width: 60%;
  margin: auto;
	font-family: 'helvetica';
}

header {
	overflow: auto;
	position: relative;
	top: 10px;
	padding-bottom: 8.5px;
	border-bottom:  #dac292 1px dashed;
}

h1 {
	color: whitesmoke;
	font-family: 'Indie Flower', arial;
	font-size: 2em;
	float: left;
	text-align: center;
	
}

.searchbar {
	float: right;
	position: relative;
	top: 18px;
	
}

.searchbar button {
	position: relative;
	bottom: 2px;
	font-family: arial;
  color: #b9936c;
	background-color: #dac292;
	border-radius: 50%;
	width: 22px;
	border: none;
}

.searchbar button:active{
	background-color:  #e6e2d3;
}

.searchbar input {
  background: inherit;
	border: #dac292 1px dashed;
	border-bottom: none;
	color: #e6e2d3;
}

.log {
position: relative;
	top: 15px;
	border-bottom:  #dac292 1px dashed;
}

.log p {
	text-align: center;
	margin: 20px;
	font-style: italic;
	padding: 1%;
	border-radius: 5px;
	color: whitesmoke;
	background-color: #dac292;
}
