html {
	background: url(../images/background1.png), #b9936c;
	background-size: 20%;
	height: 100%;
}

body {
	background: #b9936c;
  min-width: 500px;
	max-width: 960px;
	width: 60%;
  margin: auto;
	height: 100%;
	font-family: 'helvetica';
	
}

header {
	border-bottom:  #dac292 1px dashed;
	overflow: auto;
}

h1 {
	color: whitesmoke;
	font-family: 'Roboto Mono', monospace;
	font-size: 1.5em;
	text-align: center;
	margin: 0 auto 30px auto;
	padding: 10px 0;
	border: dashed 2px bisque;
	border-top: 0;
	border-radius: 5px;
	max-width: 600px;
	
}

.searchbar {
  display: inline-block;
	float: right;
	
}

.searchbar button {
	font-family: arial;
  color: #b9936c;
	background-color: #dac292;
	border-radius: 50%;
	width: 22px;
	border: none;
}

.searchbar button:active{
	background-color:  #e6e2d3;
}

.searchbar input {
  background: inherit;
	border: #dac292 1px dashed;
	border-bottom: none;
	color: #e6e2d3;
	font-family: 'Roboto Mono', monospace;
}

.log {
	border-bottom:  #dac292 1px dashed;
}

ol{
	display: flex;
	flex-wrap: wrap;
	
}

.log li{
	flex: 1 130px;
	align-items: left;
}

.log p, li {
	text-align: center;
	margin: 20px;
	border-radius: 5px;
	color: seashell;


	font-family: 'Roboto Mono', monospace;
	font-size: .85em;
}

.log p{
	font-style: italic;
	display: block;
	padding-top: 17px;
}

.log li {
	max-width: 160px;
}

.log li img, .albumInfo{
	vertical-align: middle;
}

.log li .albumInfo {
  display: block;
  margin-left: 10px;
  margin-top:5px;
	margin-bottom: 5px;
}

.addButton {
  border: 1px dashed bisque;
  position: relative;
  height: 15px;
	width: 15px;
}

.addButton button {
	display: inline;
	background: inherit;
  margin: 0;
	padding: 0;
	border: none;
}

.backButton {
	position: relative;
}

.backButton button {
  background-color: inherit;
	border: #dac292 1px dashed;
	border-top: none;
	color: bisque;
	font-family: monospace;
	display: inline-block;
	position: absolute;
	bottom: -5px;
}

.searchBackButton, .searchNextButton {
	display: inline;
}

.searchNextButton {
	position: relative;
	float: right;
}

.searchBackButton button, .searchNextButton button {
  background: inherit;
	border: #dac292 1px dashed;
	border-bottom: none;
	color: bisque;
}

.youtube, .bandcamp, .searchIcon, .orderDiv{
  display: inline-block;
	
	vertical-align: middle;
	
}
.searchIcon{
	margin-right: 5px;
	color: black;
	font-family: monospace;
}

.rightHalfDiv{
  display: inline-block;
	margin: auto;
	text-align: center;
}

.log li a img{
	height: 30px;
	width: 30px;
}

.searchIcon img{
	height: 15px;
}

h2 {
	color: bisque;
	font-family: monospace;
	text-align: center;
	font-style: italic;
}

.sizeChanger, #small, #med, #large{
  font-family: monospace;
}

.sizeChanger{
	text-align: center;
	color: bisque;
	font-style: italic;
	margin-top: 2px;
}

#small, #med, #large{
	background: inherit;
	border: dashed #dac292 1px;
	border-top: none;
	color: whitesmoke;
}

.moveUpButton, .moveDownButton{
  display: inline;
}

.moveUpButton {
	margin-right: 5px;
}

.moveUpButton button, .moveDownButton button{
  width: 20px;
	color: black;
	background: inherit;
	border: none;
}	
