html {
	background: url(../images/background1.png), #b9936c;
	background-size: 20%;
	height: 100%;
}

body {
	background: #b9936c;
  min-width: 500px;
	max-width: 960px;
	width: 60%;
  margin: auto;
	height: 100%;
	font-family: 'helvetica';
	
}

header {
	border-bottom:  #dac292 1px dashed;
	overflow: auto;
}

h1 {
	color: whitesmoke;
	font-family: 'Roboto Mono', monospace;
	font-size: 1.5em;
	text-align: center;
	margin: 30px 0;
}

.searchbar {
  display: inline-block;
	float: right;
	
}

.searchbar button {
	font-family: arial;
  color: #b9936c;
	background-color: #dac292;
	border-radius: 50%;
	width: 22px;
	border: none;
}

.searchbar button:active{
	background-color:  #e6e2d3;
}

.searchbar input {
  background: inherit;
	border: #dac292 1px dashed;
	border-bottom: none;
	color: #e6e2d3;
	font-family: 'Roboto Mono', monospace;
}

.log {
	border-bottom:  #dac292 1px dashed;
}

.log p, li {
	text-align: center;
	margin: 20px;
	border-radius: 5px;
	color: seashell;
	background-color: #dac292;
	min-height: 34px;
	font-family: 'Roboto Mono', monospace;
	font-size: .85em;
}

.log p{
	font-style: italic;
	display: block;
	padding-top: 17px;
}
.log li:nth-child(odd){
	background-color: #d1b37b;
	border: 1px solid darkgoldenrod;
}

.log li {
	text-align: left;
	border: 1px solid bisque;
	position: relative;
}

.log li img, .albumInfo{
	vertical-align: middle;
}

.log li img {
	height: 48px;
 display: inline-block;
}

.log li .albumInfo {
  display: inline-block;
  margin-left: 10px;
  width: 70%;
}

.addButton {
	display: inline;
}

.addButton button {
	vertical-align: middle;
	display: inline-block;
	width:34px;
	height:34px;
	background: inherit;
	border: none;
}

.backButton {
	position: relative;
}

.backButton button {
  background-color: inherit;
	border: #dac292 1px dashed;
	border-top: none;
	color: bisque;
	font-family: monospace;
	display: inline-block;
	position: absolute;
	bottom: -5px;
}

.searchBackButton, .searchNextButton {
	display: inline-block;
}

.searchNextButton {
	position: relative;
	float: right;
}

.searchBackButton button, .searchNextButton button {
  background: inherit;
	border: #dac292 1px dashed;
	border-bottom: none;
	color: bisque;
}

h2 {
	color: bisque;
	font-family: monospace;
	text-align: center;
}




