ol{
	display: flex;
	flex-wrap: wrap;
}

.log li{
	width: 128px;
	background: #1a1a1a;
	padding: 3px;
	border-radius: 5px;
}

.log p, li {
	text-align: center;
	margin: 5px 20px;
	color: green;
	font-family: 'Roboto Mono', monospace;
	font-size: small;
}

.log p{
	background-color:  #0d0d0d;
	min-height: 34px;
	color: green;
}

.log li .albumInfo {
	overflow: hidden;
	margin-top: 5px;
  height: 85px;	
	position: relative;
}

.styleDiv1{
	position: absolute;
  max-height: 85px;
	overflow: hidden;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.addButton {
  position: relative;
	width: 15px;
	overflow: visible;
  top: 16px;
	margin-top: -16px;
}

.addButton button {
	background: black;
	opacity: .75;
	color: green;
	padding: 0;
	width: 15px;
	padding-right: 2px;
	border: none;
}

.albumArt img {
	height: 128px;
}



