ol{
	display: flex;
	flex-wrap: wrap;
}

.log li{
	width: 128px;
	height: 250px;
	border: 1px solid green;
	padding: 2px;
	border-radius: 0px;
}

.log p, li {
	text-align: center;
	margin: 5px 20px;
	border-radius: 5px;
	color: green;
	font-family: 'Roboto Mono', monospace;
	font-size: .85em;
}

.log p{
	background-color: black;
	min-height: 34px;
	color: green;
}

.log li .albumInfo {

	overflow: hidden;
	margin-top: 5px;
  height: 85px;	
	position: relative;
}

.styleDiv1{
	position: absolute;
	display: inline-block;
  max-height: 75px;
	overflow: hidden;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.addButton {
  position: relative;
	width: 15px;
	overflow: visible;
  top: 16px;
	margin-top: -16px;
	width: 15px;
	background: black;
	opacity: .75;
}

.addButton button {
	display: inline;
	background: inherit;
	color: green;
  margin: 0;
	padding: 0;
	width: 15px;
	padding-right: 2px;
	border: none;
}

.rightHalfDiv{
  display: inline-block;
	margin: auto;
	text-align: center;
	height: 30px;
}

.albumArt img {
	height: 128px;
}



