.log p, li {
	text-align: center;
	margin: 10px 0;
	color: green;
	background-color: #0d0d0d;
	font-family: 'Roboto Mono', monospace;
	font-size: small;
}

.log p{
	margin: 20px;
}

.log li {
	text-align: left;
	border-top: 1px dashed green;
	position: relative;
  padding-top: 10px;
}

.log li:first-child{
	border-top: none;
}

.albumArt{
	 display: inline-block;
}

.log li .albumInfo {
  display: inline-block;
  margin-left: 10px;
  width: 50%;
}

.addButton {
	display: inline;
}

.addButton button {
	vertical-align: middle;
	width:34px;
	height:34px;
	background: inherit;
	border: none;
	color: green;
}

.rightHalfDiv{
  position: absolute;
	right: 0;
	top: 50%;
  transform: translateY(-50%);
}

.albumArt img {
	height: 48px;
}